/* styles.css - Violet theme */

body {
    margin: 0;
    font-family: 'Maven Pro', sans-serif;
    background-color: #ddcbf9;
    color: #3a2e56;
  }
  
  header {
    background-color: #be90fa;
    padding: 20px 0;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  
  .nav-left {
    flex: 1;
  }

  .logo {
    height: 40px;
    width: auto;
  }
  

  .nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0;
    padding: 0;
    flex: 1;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav-links li a:hover {
    color: #d1b3ff;
  }
  
  .social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
  }
  
  .social-icons a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #d1b3ff;
  }
  
  .hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #ddcbf9;
    color: #3a2e56;
  }
  
  .gallery {
    column-count: 2;
    column-gap: 10px;
    padding: 10px;
  }
    
  .gallery-item {
    break-inside: avoid;
    margin-bottom: 10px;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  
  footer {
    text-align: center;
    padding: 20px;
    background-color: #be90fa;
    color: white;
  }
  